body{background-color: #E8E8E8; text-align: justify; font-size: 18px;}
h1{text-align: center;background-color: #A898A0;color: #481010;}
h3{text-align: justify;color: #404048;}
b{color:blue;font-size: 18px;}
i{color: blue; font-size: 18px;}
header, footer{background-color: #701080;text-align: center;font-size: 20px;}
main{background-color: #D89098;}
PRIMEIROPARAGRAFO{text-align: justify;font-size: 18px; border: black solid 2px;padding: 10px;margin: 10px;}
SEGUNDOPARAGRAFO{text-align: justify;font-size: 18px; border: black solid 2px;padding: 10px;margin: 10px;}
#TITULOIMAGEM{width: 57; height: 57;}
#Lista{display: inline-block;}

